.lists{
    margin-top: 10px;
}

.lists > .list-name{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 3px;
    background-color: #627FC9;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
}

.name-wrap{
    display: flex;
    width: 100%;
}

.list-name > input {
    padding-left: 2%;
    text-align: left;
    font-size: 16px;
    font-family: monospace;
    color: white;
    background-color: #627FC9;
    border: none;
    font-family: 'Space Mono', monospace;
    width: 100%;
}

.list-name > .operations {
    display: flex;
}

.list-name > .operations > button {
    cursor: pointer;
    margin-left: 2px;
    padding: 5px;
    color: #f5efef;
    background-color: transparent;
    border: 1px solid #ffffff1f;
    border-radius: 3px;
}

.toggle-btn{
    color: #efece2;
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding-left: 2%;
}

