.slideup{
    position: relative;
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
}
.slidedown {            
    position: relative;
    max-height: 60vh;            
    overflow-y: scroll;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;              
}   

.List > .list-name{
    display: flex;
    padding-top: 2vh;
    padding-bottom: 1vh;
    justify-content: center;
    vertical-align: middle;
    color: white;
    font-size: 16px;
    font-family: monospace;
    text-transform: uppercase;
    margin: 0px 30%;
}