*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    height: 100%;
    
  }
  
  /* .App {} */

  .header{
    height: 130px;
    background-color: #4061B6;
  }

  .name{
    padding-top: 1vh;
    padding-left: 2vw;
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 30px;
  }

  .app-name{
    display: flex;
    justify-content: center;
    color: white;
  }

  .list-submit{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 20px;
  }

  .list-submit > form{
    margin: 0 30%;
    
  }

  .list-submit > form > .submit-input {
    min-width: 150px;
    border-radius: 3px;
    padding-left: 2%;
  }

  .list-submit-btn {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: darkslategray;
  }

  .wrapper{
    margin: 20px 10px;

  }

  input::placeholder{
    color: white;
  }

  @media only screen and (min-width: 374px) {
  
}