.submit{
    margin: auto;
    width: 95%;
    background-color:#4061B6;
    border-radius: 3px;

}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-input{
    margin: 1% 1%;
    padding: 5px 0%;
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
}

::placeholder{
    color: white;
}

input:focus{
    outline: none;
}

.todo-submit{
    border-radius: 3px;
}

.todo-list-btn{
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 2%;
}

