.todo-wrapper{
    margin: 10px;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 3px;
    background-color: #E7EEF4;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
}

/* CHECK */

.check{
    padding-left: 1%;
    padding-right: 2%;
    display: inline;
    cursor: pointer;
}

.outter-check{
    position: relative;
    border: 1px solid #4061B6;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.inner-check{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}



/* TODO CONTENT */

.todo-text{
    height: fit-content;
}

.todo-text, .update-input{
    text-align: left;
    flex: 6;
    color: Black;
    font-family: 'Space Mono', monospace;
    font-style: italic;
}

.date{
    font-size: 10px;
}

.update-input{
    cursor: pointer;
    font-size: 13px;
    margin: 0px 0%;
    padding: 0px 0%;
    width: 100%;
    border: none;
    resize: none;
    overflow: none;
    background-color: transparent;
    
}

/* BUTTONS */

.todo-wrapper > .operations > .btn{
    cursor: pointer;
    margin-left: 2px;
    padding: 5px;
    color: #f5efef;
    background-color: #8ECA9B;
    border: 1px solid #627FC9;
    border-radius: 3px;
}

.todo-wrapper > .operations > .delete-btn{
    background-color: #8ECA9B;
    
}

@media only screen and (min-width: 1024px){
    .inner-check:hover{
        background-color: #4061B6;
    }
}